<div class="container"  style="margin-top: 50px">
  <div class="row">
    <div class="col-sm-12">
      <h1> Profil bearbeiten</h1>
    </div>
    <br>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.editProfile(form)" novalidate>

        <div class="form-group">
          <h3>Name</h3>

          <input type="text" name="name" class="form-control" ng-model="vm.profile.name" required>
        </div>


        <div class="form-group">
          <h3>Adresse</h3>

          <label>Straße</label>
          <input class="form-control" type="text" ng-model="vm.profile.adress.street" required>
          <label>PLZ</label>
          <input  class="form-control" type="text" ng-model="vm.profile.adress.postal" required>
          <label>Ort</label>
          <input  class="form-control" type="text" ng-model="vm.profile.adress.town" required>
          <label>Telefon</label>
          <input class="form-control" type="text" ng-model="vm.profile.phone" >
          <label>Email</label>
          <input class="form-control" type="email" ng-model="vm.profile.email" >
          <label>Prio</label>
          <input class="form-control" type="text" ng-model="vm.profile.prio" >
        </div>




        <!--<tags-input ng-model="vm.profile.tags" add-from-autocomplete-only="true">-->
          <!--<auto-complete source="vm.autocompleteTags"></auto-complete>-->
        <!--</tags-input>-->


        <!--<label>Foto</label>-->
        <!--<input type="file" ngf-select ng-model="vm.profile.pics[0]" name="file"-->
               <!--accept="image/*" ngf-max-size="2MB" required-->
               <!--ngf-model-invalid="errorFiles">-->

        <!--<i ng-show="form.file.$error.maxSize">File too large-->
          <!--{{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>-->
        <!--<img style="max-width:500px;max-height:500px" ng-show="form.file.$valid" ngf-thumbnail="vm.profile.pics[0]" class="thumb"> <button  ng-show="vm.profile.pics[0]">Remove</button>-->
        <!--<br>-->







        <br>
        <button ng-disabled="form.$invalid||!vm.isLoggedIn" class="btn btn-inverse btn-lg btn-login" type="submit">
          bestätigen
        </button>
        <br>
        <br>
        <span style="color:red " ng-repeat="err in vm.errors">{{err}}</span>
      </form>
    </div>
  </div>
  <hr>
</div>
